.answer-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.answer-list button {
    background-color: rgb(216, 116, 22);
    outline: none;
}

.answer-list button:hover {
    background-color: rgb(247, 99, 14);
    transform: translateY(2px);
}

