.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background: repeating-linear-gradient(to right bottom, rgb(55, 105, 243), rgb(25, 25, 252) 10%, rgb(233, 126, 25) 33%, rgb(187, 19, 7) 40%);
    border: solid black 3px;
    width: 33.33%;
    margin: auto;
    padding: 15px;
    height: 400px;

}