body {
  margin: 0;
  padding: 0;
  font-family: 'Satisfy', cursive;
  -webkit-font-smoothing: antialiased;
  color: rgb(32, 20, 20);
  -moz-osx-font-smoothing: grayscale;
  background: rgb(25, 25, 252)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
